@font-face {
   font-family: 'Minecraft';
   font-display: swap;
   src: url('file:///C:/Users/bajjkas1/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-11-16_225744/fonts/Minecraft/font.ttf');
}
